# Ignore all model weight files
*.h5
*.ckpt
*.pth
*.pt
*.weights

# Ignore all videos and images
*.mp4
*.avi
*.mov
*.jpg
*.jpeg
*.png

# Ignore all csv files
*.csv

# Ignore all log files
*.log
*.json
*.npy

# Ignore specific folders
lstm_results/
identity_samples/
person_crops/